# Android/Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties
*.iml
.idea/

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# Mac OS
.DS_Store

# Logs
*.log

# Android Studio
*.hprof
*.orig

# Jetpack Compose preview
*.png
*.jpeg
*.gif

# Others
*.keystore

